<div class="mt-4">

  <h3>Courses</h3>

  <form method="POST" action="/courses/store">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required />
  </div>
  <div class="mb-3">
    <label for="des" class="form-label">Description</label>
    <input type="text" class="form-control" id="des" name="des" />
  </div>
  <div class="mb-3">
    <label for="img" class="form-label">Image link</label>
    <input type="text" class="form-control" id="img" name="img" />
  </div>
  <div class="mb-3">
    <label for="videoId" class="form-label">Video ID</label>
    <input type="text" class="form-control" id="videoId" name="videoId" />
  </div>
  <button type="submit">Submit</button>
</form>

</div>